<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--  Argument from launch file  -->
    <xacro:arg name="ns_namespace" default=""/>

    <xacro:property name="name_space_pass" value="$(arg ns_namespace)"/>
    <xacro:if value="${name_space_pass != ''}">
        <xacro:property name="ns_namespace_" value="$(arg ns_namespace)_"/>
    </xacro:if>
    <xacro:if value="${name_space_pass == ''}">
        <xacro:property name="ns_namespace_" value=""/>
    </xacro:if>
</robot>